<h1>LessonMember#_new_lesson_members</h1>
<p>Find me in app/views/lesson_members/_new_lesson_member.html.erb</p>
<p>Probably will be a form_with.</p>
<p>How will I render this in the table?</p>
<p>Won't know till it's built.</p>
<p>Would like to use turbo_streams</p>
<p>
  Would need to have them in place for both the table, and for the button to
  add a new lesson_member. The table would update in real time when a new member
  was added, without requiring a full page update. The button for adding a new
  member would create a new \<tr\>
</p>
