<%= form_with(
    scope: :tutor,
    url: tutor_url(original_id),
    method: 'patch'
  ) do |form| %>
  <%= render template: "tutors/_form_inputs", locals: { tutor: tutor, form: form } %>

  <div>
    <%= form.submit 'Update Tutor' %>
  </div>
<% end %>
