<h1>Editing tutor</h1>

<% if @render_failed_edit %>
  <%= render "failed_edit", tutor: @tutor, original_id: @original_id %>
<% else %>
  <%= render "form", tutor: @tutor %>
<% end %>

<br>

<div>
  <%= link_to "Show this tutor", @tutor %> |
  <%= link_to "Back to tutors", tutors_path %>
</div>
