<h1>Editing tutor</h1>

<% if @id_for_url %>
  <%= render "failed_edit", tutor: @tutor, id_for_url: @id_for_url %>
<% else %>
  <%= render "form", tutor: @tutor %>
<% end %>

<br>

<div>
  <%= link_to "Show this tutor", @tutor %> |
  <%= link_to "Back to tutors", tutors_path %>
</div>
