<div id="<%= dom_id venue %>">
  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= venue.region.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= venue.address %>
  </p>
</div>
