<%= form_with(
    scope: :contact,
    url: contact_url(original_id),
    method: 'patch'
  ) do |form| %>
  <%= render template: "contacts/_form_inputs", locals: { contact: contact, form: form } %>

  <div>
    <%= form.submit 'Update Contact' %>
  </div>
<% end %>