<div class="lesson-members">
  <h2>Lesson Members</h2>
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Practice Log</td>
        <td>Notes</td>
      </tr>
    </thead>
    <tbody>
      <% @lesson_members.each do |l_member| %>
        <tr>
          <td>
            <%= link_to l_member.student, student_path(l_member.student) %>
          </td>
          <td>Link to practice log</td>
          <td>Link to notes</td>
          <td>
            <%= button_to 'remove from lesson',
                lesson_member_path(
                  lesson_id: l_member.lesson_id,
                  student_id: l_member.student_id,
                ),
                method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add student to lesson", new_lesson_member_path(@lesson) %>
</div>