div#lessons h2 {
  font-size: 1.7rem;
}

div#lessons h3 {
  font-size: 1.4rem;
}

div#lessons ul.list-group-horizontal li {
  background-color: #E2F6D1;
}

div#lessons ul.list-group-horizontal li:nth-child(1) {
  width: 20%;
}

div#lessons ul.list-group-horizontal li:nth-child(2) {
  width: 30%;
}

div#lessons ul.list-group-horizontal li:nth-child(3) {
  width: 20%;
}