div.lesson-members {
  background-color: lightcyan;
  border: 0.2rem solid black;
  border-radius: 2rem;
  padding: 1.6rem;
}

div.lesson-members table {
  table-layout: auto;
  width: 100%;
  background-color: #D7DFE5;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1rem;
  border: 0.14rem solid #311F0C;
  margin-bottom: 0.6rem;
}

div.lesson-members table td {
  width: auto;
}

div.lesson-members table td:first-of-type {
  padding: 0.5rem 1rem;
}

div.lesson-members table thead td {
  font-size: 1.25rem;
  padding: 0.5rem;
}

div.lesson-members table tbody {
  font-size: 1.18rem;
  font-weight: 200;
}

div.lesson-members table tbody td {
  padding: 0.5rem;
  border-top-width: 0.11rem;
  border-style: solid;
  border-color: grey;
}

div.lesson-members form input[type="hidden"][value="delete"] + button {
  margin: 0;
  width: 10rem;
  height: 2.5rem;
  font-size: 1rem;
}
