div.student-contacts {
  background-color: lightcyan;
  border: 0.3rem solid black;
  border-radius: 2rem;
  padding: 1.6rem;
}

div.student-contacts table {
  table-layout: auto;
  width: 100%;
  background-color: #D7DFE5;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1rem;
  border: 0.14rem solid #311F0C;
  margin-bottom: 0.6rem;
}

div.student-contacts table td {
  width: auto;
}

div.student-contacts table td:first-of-type {
  padding: 0.5rem 1rem;
}

div.student-contacts table thead td {
  font-size: 1.25rem;
  padding: 0.5rem;
}

div.student-contacts table tbody {
  font-size: 1.18rem;
  font-weight: 200;
}

div.student-contacts table tbody td {
  padding: 0.5rem;
  border-top-width: 0.11rem;
  border-style: solid;
  border-color: grey;
}
