<h1>Regions</h1>

<div id="regions" class="horizontal-list-set">
  <% @regions.each do |region| %>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= region.name %></li>
      <li class="list-group-item">
        <%= link_to "Details", region_path(region) %>
      </li>
    </ul>
  <% end %>
</div>

<%= link_to "New region", new_region_path %>
